@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55?styles=15981,15994');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica Neue', sans-serif;
    
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #222;
    color: #fff;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

h3 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1.17em;
}

.hidden {
    display: none !important;
}

#particles-js canvas {
    position: absolute;
}

.background {
    background-image: url(./assets/backgrounds/backgroundHD.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100dvh;
    color: #fff;
    z-index: 0;
    position: relative;

    display: grid;
    place-content: center;
    justify-items: center;
}

.name {
    font-family: 'Archivo Black', sans-serif;
    font-size: 60px;
    width: min-content;
}

.outline {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content {
    letter-spacing: 1px;
    align-self: end;
    z-index: 1;
}

#proyectos {
    cursor: pointer;
    transition: all 0.3s;
}

#proyectos:hover {
    transform: scale(1.2);
}

.projects-background {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: -2;
}

.projects-background-video {
    position: absolute;
    width: 80%;
    height: 80%;
    z-index: -1;
    object-fit: cover;
    overflow: visible;
}

.projects {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
    gap: 50px;
    flex-wrap: wrap;
}

.projects-content {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card:hover img {
    transform: scale(1.2);
}

.cards {
    width: 200px;
    padding: 5px;
    background-color: #fff;
    color: #000;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;
    filter: opacity(0.85);
}

.cards:hover {
    filter: opacity(1);
}

.cards-img {
    overflow: hidden;
    height: 98px;
    border-radius: 5px;
}

.cards-img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    transition: all 0.3s;
}

.cards:hover img {
    transform: scale(1.15);
}

.cards-text {
    margin-bottom: 0px;
    margin-top: 10px;
}

@keyframes upDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

.back {
    position: absolute;
    top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.back-arrow {
    animation: upDown 2s ease-in-out infinite;
    background-color: #fff;
    fill: #000;
    padding: 3px;
    border-radius: 50%;
    transition: all 0.3s;
}

.back:hover .back-arrow {
    background-color: #b9b9b9;
}

/* --- --- --- --- RESPONSIVE --- --- --- --- */

@media (max-width: 500px) {
    .projects-background-video {
        width: 50%;
        height: 50%;
    }

    .cards {
        width: 100px;
    }

    .cards-img {
        height: 50px;
    }

    .cards-text h2 {
        font-size: 13px;
    }
}

@media (max-width: 350px) {
    .name {
        font-size: 35px;
    }

    #proyectos {
        font-size: 15px;
    }

    .projects {
        gap: 0px;
    }
}