@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55?styles=15981,15994');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica Neue', sans-serif;
    
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #222;
    color: #fff;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

h3 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1.17em;
}

.hidden {
    display: none !important;
}

.background {
    background-image: url(./assets/background.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100dvh;
    color: #fff;
    /* box-shadow: 0px 10px 50px #000; */

    display: grid;
    place-content: center;
    justify-items: center;
}

.name {
    font-family: 'Archivo Black', sans-serif;
    font-size: 60px;
    width: min-content;
}

.outline {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content {
    letter-spacing: 1px;
    align-self: end;
}

#proyectos {
    cursor: pointer;
    transition: all 0.3s;
}

#proyectos:hover {
    transform: scale(1.2);
}

.projects {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    gap: 50px;
}

.card:hover img {
    transform: scale(1.2);
}

.cards {
    width: 200px;
    padding: 5px;
    background-color: #fff;
    color: #444;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;
}

.cards:hover {
    background-color: #dddddd;
    color: #000;
}

.cards-img {
    overflow: hidden;
    height: 98px;
    border-radius: 5px;
}

.cards-img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    transition: all 0.7s;
}

.cards:hover img {
    transform: scale(1.3);
}

.cards-text {
    margin-bottom: 0px;
    margin-top: 10px;
}

@keyframes upDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

.back {
    position: absolute;
    top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.back-arrow {
    animation: upDown 2s ease-in-out infinite;
}

.back-text {
    transition: all 0.3s;
}

.back-text:hover {
    transform: scale(1.2);
}