.footerContent {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 10px;
}

.footer {
    font-weight: bold;
    font-size: 15px;
    color: #afa89b;
    text-decoration: none;
    transition: all 0.2s;
}

.footer:hover {
    color: #7282ff;
}