body {
    background-color: #222;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #444;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0dcaf0;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0098b6;
}

table {
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}

.card {
    background-color: #333;
}

.table-responsive {
    height: 95dvh;
    position: relative;
}

td a {
    text-decoration: none;
    color: #000;
    background-color: #0dcaf0;
    padding: 5px;
    border-radius: 5px;
}

/* .container {
    margin: 0px;
} */

#loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

@media (max-width: 770px) {
    .table-responsive {
        height: 67dvh;
    }
}