@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap');

::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: #444;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #0dcaf0;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0098b6;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

body {
    background-color: #222;
    font-family: 'Nunito Sans', sans-serif;
}


table {
    text-align: center;
    vertical-align: middle !important;
    border-radius: 10px;
    overflow: hidden;
}

.card {
    background-color: #333;
}

.table-responsive {
    height: 95dvh;
    position: relative;
    overflow-x: hidden;
}

td a {
    text-decoration: none;
    padding: 5px 7px;
    border-radius: 5px;
    transition: all 0.3s;
}

.editar {
    background-color: #328dc9;
    color: #fff;
}

.editar:hover {
    background-color: #206796;
}

.detalles {
    background-color: #1cad48;
    color: #fff;
}

.detalles:hover {
    background-color: #0d7c2e;
}

.eliminar {
    background-color: #c93232;
    color: #fff;
}

.eliminar:hover {
    background-color: #ac2626;
}

#loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.modal-body {
    max-height: 376px;
    min-height: max-content;
}

.modal-dialog {
    width: max-content;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: unset;
    }
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btns button,
.btns input {
    width: 90%;
}

.footerContent {
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 10px;
}

.footer {
    font-weight: bold;
    font-size: 15px;
    color: #afa89b;
    text-decoration: none;
    transition: all 0.2s;
}

.footer:hover {
    color: #7282ff;
}

@media (max-width: 770px) {
    .table-responsive {
        height: 52dvh;
        overflow-x: auto;
    }

    .modal-dialog {
        width: 90dvw;
    }

    .modal-dialog .modal-body {
        overflow: auto;
    }

    .footerContent {
        bottom: unset;
        left: unset;
        top: 0px;
        right: 0px;
        padding-right: 15px;
        padding-top: 1px;
    }
}
